<div class="app__container">
  <div class="header">
    <mat-toolbar>
      <button>
        <mat-icon>
          <img src="../../../assets/svg/location.svg" alt="location" />
        </mat-icon>
        <span>{{ "APP.city" | translate }}</span>
      </button>
      <button>
        <mat-icon>
          <img src="../../../assets/svg/phone.svg" alt="location" />
        </mat-icon>
        <span>{{ "APP.number" | translate }}</span>
      </button>
      <a routerLink="/login" (click)="logoutSite()">
        <button>
          <mat-icon>
            <img src="../../../assets/svg/login.svg" alt="location" />
          </mat-icon>
          <span>{{ "APP.logoutButton" | translate }}</span>
        </button>
      </a>
      <button>
        <mat-icon>
          <img src="../../../assets/svg/info.svg" alt="location" />
        </mat-icon>
        <span>{{ "APP.favorities" | translate }}</span>
      </button>

      <mat-form-field appearance="fill" class="form-field">
        <mat-select
          [(ngModel)]="selectedLanguage"
          (ngModelChange)="onLanguageChange($event)"
        >
          @for (lang of supportedLanguages; track $index) {
          <mat-option [value]="lang">{{ lang | uppercase }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-toolbar>
  </div>
</div>

<router-outlet></router-outlet>
