<div class="app__container">
  <div class="header">
    <mat-toolbar>
      <button>
        <mat-icon>
          <img src="../../../assets/svg/location.svg" alt="location" />
        </mat-icon>
        <span>САНКТ-ПЕТЕРБУРГ</span>
      </button>
      <button>
        <mat-icon>
          <img src="../../../assets/svg/phone.svg" alt="location" />
        </mat-icon>
        <span>8 (812) 577-42-18 / ЗАКАЗАТЬ ЗВОНОК</span>
      </button>
      <button>
        <mat-icon>
          <img src="../../../assets/svg/login.svg" alt="location" />
        </mat-icon>
        <span>ВХОД / РЕГИСТРАЦИЯ</span>
      </button>
      <button>
        <mat-icon>
          <img src="../../../assets/svg/info.svg" alt="location" />
        </mat-icon>
        <span>ИЗБРАННОЕ</span>
      </button>
    </mat-toolbar>
  </div>
</div>

<router-outlet></router-outlet>
