.app__container {
  .header {
    mat-toolbar {
      background-color: #e5e5e5;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 60px;

      button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
      }

      a {
        text-decoration: none;
        button {
          cursor: pointer;
        }
      }
    }
    .form-field {
      width: 6%;
      color: red;
      margin: auto 0;

      ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #e5e5e5 !important;
      }

      ::ng-deep .mat-mdc-select-value {
        color: #000 !important;
      }
    }
  }
}
