<div class="container">
  <div class="navbar">
    <div class="hamburger">
      <img
        src="../../assets/svg/hamburger.svg"
        alt="menu"
        srcset=""
        width="24"
        height="24"
      />
      <span>МЕНЮ</span>
    </div>
    <picture>
      <img src="../../assets/imgs/logo.png" alt="waxa shop" srcset="" />
    </picture>
    <div class="basket">
      <span>КОРЗИНА</span>
      <mat-icon>
        <img src="../../assets/svg/basket.svg" alt="basket" />
      </mat-icon>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="listOfMenus">
    <ul>
      @for (item of listOfMenus; track $index) {
      <li>
        @if (item.icon) {
        <img [src]="item.icon" />
        }
        <p>{{ item.title }}</p>
      </li>
      }
    </ul>
  </div>

  <mat-divider></mat-divider>

  <div class="grid_list">
    <div class="grid-tile tile-1">
      <app-filtr></app-filtr>
    </div>

    <div class="grid-tile tile-2">
      <p>WAXA SHOP — СРЕДСТВА ДЛЯ ОБУВИ — КРЕМ ДЛЯ ОБУВИ</p>
      <p>Крем для обуви</p>
    </div>

    <div class="grid-tile tile-3">
      <div *ngIf="loading" class="spinner">
        <mat-spinner></mat-spinner>
      </div>

      <ng-container *ngIf="!loading">
        <div *ngFor="let item of items; let i = index">
          <a [routerLink]="['/product', item.id]">
            <mat-card class="card" appearance="outlined">
              <img
                mat-card-image
                [src]="item.category.image"
                alt="Photo of product"
                width="100%"
                height="100%"
              />
              <mat-card-header>
                <mat-card-title>{{ item.title }}</mat-card-title>
                <mat-card-subtitle>{{ item.price }}$</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
